.search__widget {
    padding: 7px;
    border: 1px solid #c24444;
    border-radius: 5px;
}
.search__widget input {
    border: none;
    padding-right: 100px;
    
}

.search__widget input:focus {
    outline: none;
    
}
.sort__widget select {
    justify-content: flex-end;
}

.sort__widget__select {
    padding: 7px 30px;
    border-radius: 6px;
    border: 1px solid #c24444;
}