.paginationBtn {
    width: 80%;
    height: 40px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1rem;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 50px;
}

.paginationBtn a {
    padding: 5px 13px;
    background: #4c52a5;
    color: #fff !important;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.paginationBtn a:hover {
    background: rgb(180, 27, 27);
}